name: Code Agent Examples

on:
  workflow_dispatch:
  push:
    branches: [ "main", "develop" ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  # Cancel only when the run is not on main or develop
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/develop' }}

env:
  JAVA_VERSION: 17
  JAVA_DISTRIBUTION: 'corretto'

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      koog-src: ${{ steps.filter.outputs.koog-src }}
      code-agent: ${{ steps.filter.outputs.code-agent }}
    steps:
      - uses: actions/checkout@v5

      - uses: dorny/paths-filter@v3
        name: Check changed files
        id: filter
        with:
          filters: .github/file-filters.yml

  compilation:
    needs: changes
    if: ${{ needs.changes.outputs.koog-src == 'true' || needs.changes.outputs.code-agent == 'true' }}
    name: Compile ${{ matrix.step }}

    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        step:
          - step-01-minimal-agent
          - step-02-add-execution-tool
          - step-03-add-observability
          - step-04-add-subagent
          - step-05-history

    steps:
      - name: Configure Git
        run: |
          git config --global core.autocrlf input
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: gradle

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          # Cache downloaded JDKs/konan in addition to the default directories.
          gradle-home-cache-includes: |
            caches
            notifications
            jdks
            ~/.konan/**

      - name: Compile
        working-directory: ./examples/code-agent/${{ matrix.step }}
        run: ./gradlew assemble testClasses --stacktrace
        env:
          JAVA_OPTS: "-Xmx8g -Dfile.encoding=UTF-8 -Djava.awt.headless=true -Dkotlin.daemon.jvm.options=-Xmx6g"
