name: Deploy All Docs

on:
  workflow_dispatch: # Manual trigger

jobs:
  check-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Fail if running on blocked branch
        if: |
          github.ref == 'refs/heads/develop'
        run: |
          echo "This workflow cannot be run on develop branch."
          exit 1